body {
    background-color: black;
    color: yellow;
    font-family: 'RuneScape UF', serif;
    font-weight: lighter;
    font-style: normal;
    text-align: center; 
}
.navlink {
    color:blanchedalmond;
    font-size: 18px;
}
a:link, a:visited {
    border-radius: 5px;
    padding: 0%;
    background-color: dodgerblue;
    color:white;
    margin-bottom: 3px;
    border-color: blanchedalmond;
}
a:hover, a:active {
    border-radius: 5px;
    padding: 0%;
    background-color: red;
    color: white;
}