body {
    background-color: black;
    color: yellow;
    font-family: 'RuneScape UF'; 
    font-weight: normal;
    font-style: normal;
}
.navlink {
        text-align: center;
        color:blanchedalmond;
        font-size: 18px;
}
a:link, a:visited {
    border-radius: 5px;
    padding: 0%;
    background-color: dodgerblue;
    color:white;
    margin-bottom: 3px;
    border-color: blanchedalmond;
}
a:hover, a:active {
    border-radius: 5px;
    padding: 0%;
    background-color: red;
    color: white;
}