.img_hov {
    display: block; /* Ensures that the image is centered */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 100%; /* Ensures that the image doesn't overflow its container */
    height: auto; /* Scales the image proportionally */
}
.img_hov:hover {
    transition: transform 330ms ease-in-out;
    transform: scale(1.4); /* 2 = 200% etc. Too large will cause issues */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img_none {
    display: block; 
    margin: 0 auto; 
    max-width: 80%; 
    height: auto; 
    padding: 20px;
}