.title {
    font-size: 36px;
}
.head {
    font-size: 20px;
    color:dodgerblue;
}
.desc {
    font-size: 20px;
    font-weight: normal;
}
h4 {
    font-size: 16px;
    font-weight: normal;
    color: yellow;
}
.return {
    text-align: end;
    font-style: italic;
    font-weight: lighter;
}
.List_Head {
    color:dodgerblue;
    font-size: 20px;
    text-decoration: underline 1px dodgerblue;
}
.list > ul {
    font-weight: normal;
    font-size: 18px;
    list-style-type: none;
    padding-left: 0;
}
.internal_list {
    text-indent: 40px;
    color: #66e0ff;
    font-style: italic;
    outline: 1px;
    font-size: 15px;
    list-style-position: inside;
}
.square-brackets-quote {
    background-color: #FCF5E5;
    max-width:20em;
    color: black;
    margin: 0 auto; /* Add margin: 0 auto; to horizontally center the element */
    display: flex; /* Add flex display to the parent container */
    justify-content: center; /* Center the child elements horizontally */
    align-items: center; /* Center the child elements vertically */
}
.square-brackets-quote:hover {
    transition: transform 330ms ease-in-out;
    transform: scale(1.4); /* 2 = 200% etc. Too large will cause issues */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
blockquote {
    border:solid 0.2em #ccc;
    display:inline-block;
    margin: 0;
    padding: 0.1em;
    position: relative;
}
[id="Real"] {
    font-size: 28px;
    font-style: italic;
    color:dodgerblue;
    font-weight: bolder;
}